* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
    background-color: #f9fafc;
}
.navbar {
    display: flex;
    background-color: #fff;
    justify-content: space-around;
}
.navbar_brand {
    width: 100px;
}
.navbar_logo {
    padding-top: 6px;
    width: 100% ;
}
.nav_item {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
}

.nav_item:hover {
    border: 2px solid #FF6767;
    cursor: pointer;
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }
} 
@media (min-width: 1024px) {
    .navbar_bar {
        width: 150px;
    }
    .nav_item {
        padding: 30px;
        font-size: 20px;
    }
}